nav { background-color: beige; border-radius: 4px; }

.nav-spacer { height: 20px; }

.block-project { border: solid 1px #ccc; border-radius: 4px; }

.uk-accordion-title { background-color: #fafafa; }

.uk-accordion-content { margin-left: 40px; }

.points li { font-size: 0.8em; line-height: 0.8em; }

.points li.status1 { color: #979200; }

.points li.status2 { color: darkgreen; }

.liftings .remarks { margin-left: 10px; font-size: 0.8em; color: #888; }

.operations .started .status { color: #979200; }
.operations .started .file { font-weight: bold; }

.operations .finished .status { color: darkgreen; }