nav { background-color: beige; border-radius: 4px; }

.nav-spacer { height: 20px; }

.block-project { border: solid 1px #ccc; border-radius: 4px; }

.uk-accordion-title { background-color: #fafafa; }

.uk-accordion-content { margin-left: 40px; }

.points .uk-label { margin-right: 5px; }